// #root {
//   max-width: 1280px;
//   margin: 0 auto;
//   padding: 2rem;
//   text-align: center;
// }

.found{
  height: 100vh;
  width: 100vh;
  background-image: url(../images/notfound.webp) ;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}






